<div class="row align-items-center">
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Reset Password</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group row">
        <label class="col-md-3 form-control-label" for="password">Password</label>
        <div class="col-md-9">
          <input type="password" required id="password" [(ngModel)]="passwordModel.password" class="form-control" placeholder="password..">
          <password-strength-bar [passwordToCheck]="passwordModel.password" [barLabel]="barLabel"></password-strength-bar>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 form-control-label" for="confirmPassword">Confirm Password</label>
        <div class="col-md-9">
          <input type="password" required id="confirmPassword" [(ngModel)]="passwordModel.confirmPassword" class="form-control" placeholder="confirm password..">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" [disabled]="!validPassword()" class="btn btn-info" (click)="resetPasssword($event)">Update</button>
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>

  <div class="col-12 align-self-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal">
      <div class="card">
        <div class="card-header">
          <strong>User account</strong>
          <div class="pull-right">
            <button *ngIf="editMode" type="button" class="btn btn-outline-info" (click)="open(content); $event.preventDefault()">Reset Password</button>
          </div>
         
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-8">

              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="userKey">Employee</label>
                <div class="col-md-9">
                  <div class="input-group">
                    <ng-template #rt let-r="result" let-t="term">
                      {{ r.surname}} - {{ r.firstname}}
                    </ng-template>

                    <input id="typeahead-http" type="text" class="form-control" formControlName="userKey" [ngbTypeahead]="search" [resultTemplate]="rt"
                           placeholder="filter by name or phone" (selectItem)="selectItem($event)" [inputFormatter]="formatter" />
                    <span class="input-group-addon" id="basic-addon3">{{empInfo}}</span>
                  </div>
                  <span *ngIf="searching">searching...</span>
                  <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="username">Username</label>
                <div class="col-md-9">
                  <input type="text" id="username" formControlName="username" class="form-control" placeholder="User Name..">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="email">Email</label>
                <div class="col-md-9">
                  <input type="email" id="email" formControlName="email" class="form-control" placeholder="email..">
                </div>
              </div>             

              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="phoneNumber">Phone</label>
                <div class="col-md-9">
                  <input type="tel" id="phoneNumber" formControlName="phoneNumber" class="form-control" placeholder="phone..">
                </div>
              </div>

              <div *ngIf="!editMode" class="form-group row">
                <label class="col-md-3 form-control-label" for="password">Password</label>
                <div class="col-md-9">
                  <input type="password" id="password" formControlName="password" class="form-control" placeholder="password..">
                  <password-strength-bar [passwordToCheck]="form.get('password').value" [barLabel]="barLabel"></password-strength-bar>
                </div>
              </div>

              <div *ngIf="!editMode" class="form-group row">
                <label class="col-md-3 form-control-label" for="confirmPassword">Confirm Password</label>
                <div class="col-md-9">
                  <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="confirm password..">
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="card-footer">
          <button type="submit" [disabled]="!form.valid" class="btn btn-default"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="button" (click)="onCancel()" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
