<section class="post-wrapper-top jt-shadow clearfix">
    <div class="container">
      <div class="col-lg-12">
        <h2>Enquiries</h2>
        <i class="fa fa-ticket"></i> 
        <ul class="breadcrumb pull-right">
          <a [routerLink]="['/public/home']"> Home </a>
          <li> Contact Us</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- end post-wrapper-top -->

  <section class="white-wrapper">
      <div class="container">
          <div class="general-title">
              <h2>Contact Us</h2>
              <hr>
              <p class="lead">How can we help?</p>
          </div><!-- end general title -->    
          <div class="contact_form">
              <div id="message"></div>
              <form id="contactform" [formGroup]="frmContact" (ngSubmit)="onSubmit()" name="contactform">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <input type="text"  formControlName="firstname"  name="firstname" id="firstname" class="form-control" placeholder="first name"> 
                      <input type="text"  formControlName="lastname"  name="lastname" id="lastname" class="form-control" placeholder="last name"> 
                      <input type="text" formControlName="email" name="email" id="email" class="form-control" placeholder="email.."> 
                      <input type="text" formControlName="phone" name="phone" id="phone" class="form-control" placeholder="phone..."> 
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <input type="text" name="name" id="subject" class="form-control" placeholder="Subject"> 
                      <textarea class="form-control" formControlName="message" name="message" id="message" rows="6" placeholder="Message"></textarea>
                      <button type="submit" [disabled]="!frmContact.valid" class="btn btn-lg btn-primary pull-right"><i class="fa fa-dot-circle-o"></i> Submit</button>
                      <!-- <button type="button" (click)="onCancel()" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</button> -->
                  </div>
              </form>    
          </div><!-- end contact-form -->
      </div><!-- end container -->
</section><!-- end map wrapper -->

<section id="one-parallax" class="parallax" style="background-image: url('/assets/img/parallax_05.jpg');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
  <div class="overlay">
          <div class="container">
              <div class="row padding-top margin-top">
                  <div class="contact_details">
                      <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                          <div class="text-center">
                              <div class="wow swing">
                                  <div class="contact-icon">
                                      <a href="javascript:void(0)" class=""> <i class="fa fa-map-marker fa-3x"></i> </a>
                                  </div><!-- end dm-icon-effect-1 -->
                                   <p>{{companySettings.street}}, {{companySettings.city}}<br>
                                    {{companySettings.countryName}}, {{companySettings.stateName}}</p>
                              </div><!-- end service-icon -->
                          </div><!-- end miniboxes -->
                      </div><!-- end col-lg-4 -->
                      
                      <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                          <div class="text-center">
                              <div class="wow swing">
                                  <div class="contact-icon">
                                      <a href="javascript:void(0)" class=""> <i class="fa fa-phone fa-3x"></i> </a>
                                  </div><!-- end dm-icon-effect-1 -->
                                   <p><strong>Phone:</strong> {{contactDataSettings.mobileTelephoneNumber}}<br>
                                  <strong>Phone:</strong> {{contactDataSettings.hotlineTelephoneNumber}}</p>
                              </div><!-- end service-icon -->
                          </div><!-- end miniboxes -->
                      </div><!-- end col-lg-4 -->  
      
                      <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                          <div class="text-center">
                              <div class="wow swing">
                                  <div class="contact-icon">
                                      <a href="javascript:void(0)" class=""> <i class="fa fa-envelope-o fa-3x"></i> </a>
                                  </div><!-- end dm-icon-effect-1 -->
                                   <p><strong>Email:</strong> {{contactDataSettings.contactEmailAddress}}<br>
                                  <strong>Suppport Email:</strong>  {{contactDataSettings.supportEmailAddress}}</p>
                              </div><!-- end service-icon -->
                          </div><!-- end miniboxes -->
                      </div><!-- end col-lg-4 -->                  
                  </div><!-- end contact_details -->
              </div><!-- end margin-top --><br><br>
          </div><!-- end container -->
      </div><!-- end overlay -->
  </section><!-- end map wrapper -->


