<ng-progress></ng-progress>
<app-header [fixed]="true" [navbarBrandFull]="{src: 'assets/img/logo.png', width: 89, height: 25, alt: 'CoreUI Logo'}" [navbarBrandMinimized]="{src: 'assets/img/logo.png', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="['/public/home']">Public Site</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="['/admin/employees']">Users</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="['/admin/settings/general']">Settings</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-md-down-none">
      <a href="javascript:void(0)" (click)="logout()" [hidden]="!isLoggedIn$ | async">
        <i class="fa fa-lock"></i> Logout</a>
      <a href="javascript:void(0)" (click)="login()" [hidden]="isLoggedIn$ | async">
        <i class="fa fa-lock"></i> Login</a>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="true">
        <img src="assets/img/generic-user-blue50.jpg" class="img-avatar" alt="{{user.email}}" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center">
          <strong>Account</strong>
        </div>
        <a class="dropdown-item" href="#">
          <i class="fa fa-user"></i> Profile</a>
        <div class="divider"></div>
        <a class="dropdown-item" href="javascript:void(0)" (click)="logout()" [hidden]="!isLoggedIn">
          <i class="fa fa-lock"></i> Logout</a>
        <a class="dropdown-item" href="javascript:void(0)" (click)="login()" [hidden]="isLoggedIn">
          <i class="fa fa-lock"></i> Login</a>

      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <!--<a class="btn" href="#">
            <i class="icon-speech"></i>
          </a>
         <a class="btn" [routerLink]="['/admin']">
            <i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn" [routerLink]="['/admin/settings/general']">
            <i class="icon-settings"></i> &nbsp;Settings</a> -->
        </div>
      </li>
    </ol>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- /.container-fluid -->
  </main>
  <app-aside [fixed]="true" [display]="false">
    <tabset>
    </tabset>
  </app-aside>
</div>
<app-footer>
  <span>
    <a href="https://apex.systems.io">{{appName}}</a> &copy; {{date}} {{appName}}.</span>
  <span class="ml-auto">Powered by
    <a href="https://apex.systems.io">Apex Solutions</a>
  </span>
</app-footer>
