<section class="post-wrapper-top jt-shadow clearfix">
		<div class="container">
			<div class="col-lg-12">
				<h2>History</h2>
                <ul class="breadcrumb pull-right">
                    <li><a [routerLink]="['/public/home']">Home</a></li>
                    <li>&nbsp; About Us</li>
                </ul>
			</div>
		</div>
	</section><!-- end post-wrapper-top -->

	<section class="white-wrapper">
		<div class="container">
        	<div class="row">
              <div [innerHTML]="history" class="col-8 align-self-center">
                </div>
			</div><!-- end row --><br>
		</div><!-- end container -->
	</section><!-- end postwrapper -->