<footer id="footer-style-1">
    <div class="container">
        
    </div><!-- end container -->
  </footer><!-- end #footer-style-1 -->    

<div id="copyrights">
    <div class="container">
    <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="copyright-text">
                <p>Copyright &copy;  {{year}} -  {{companySettings.companyName}}</p>
              </div><!-- end copyright-text -->
    </div><!-- end widget -->
    <div class="col-lg-7 col-md-6 col-sm-12 clearfix">
      <div class="footer-menu">
                  <ul class="menu">
                      <li class="active">
                          <a [routerLink]="['/public/home']">
                            <i class="zmdi zmdi-home"></i> Home
                          </a>
                      <li>  
                        <a [routerLink]="['/public/about']">
                        <i class="zmdi zmdi-favorite-outline"></i> About Us
                      </a>
                    </li>
                      <li>  <a [routerLink]="['/public/profiles']">
                        <i class="zmdi zmdi-accounts"></i> Our Team
                      </a></li>
                      <li>  <a [routerLink]="['/public/publications']">
                        <i class="zmdi zmdi-image-o"></i> Publications
                      </a></li>                  
                      <li>  <a [routerLink]="['/public/contact']">
                        <i class="zmdi zmdi-email"></i> Contact
                      </a>
                    </li>
                  </ul>
              </div>
    </div><!-- end large-7 --> 
      </div><!-- end container -->
  </div><!-- end copyrights -->
  
<div class="dmtop">Scroll to Top</div>

<!-- <div class="col-lg-3 col-md-5 ms-footer-col ms-footer-text-right">
    <div class="ms-footbar-block">
      <div class="ms-footbar-title">
        <span class="ms-logo ms-logo-white ms-logo-sm mr-1">M</span>
        <h3 class="no-m ms-site-title">
          {{companySettings.companyName}}
        </h3>
      </div>
      <address class="no-mb">
        <p>
          <i class="color-danger-light zmdi zmdi-pin mr-1"></i>{{companySettings.address}}
        </p>
        <p>
          <i class="color-warning-light zmdi zmdi-map mr-1"></i> {{companySettings.stateName}}
        </p>
        <p>
          <i class="color-info-light zmdi zmdi-email mr-1"></i>
          <a href="mailto:{{contactDataSettings.companyEmailAddress}}">{{contactDataSettings.companyEmailAddress}}</a>
        </p>
        <p>
          <i class="color-royal-light zmdi zmdi-phone mr-1"></i>{{contactDataSettings.mobileTelephoneNumber}}
        </p>           
      </address>
    </div>
    <div class="ms-footbar-block">
      <h3 class="ms-footbar-title">Social Media</h3>
      <div class="ms-footbar-social">
        <a href="{{socialSettings.facebookLink}}" target="_blank" class="btn-circle btn-circle-raised btn-facebook">
          <i class="zmdi zmdi-facebook"></i>            
        </a>
        <a href="{{socialSettings.twitterLink}}" target="_blank" class="btn-circle btn-circle-raised btn-twitter">
          <i class="zmdi zmdi-twitter"></i>             
        </a>
        <a href="{{socialSettings.linkedInLink}}" target="_blank" class="btn-circle btn-circle-raised btn-instagram">
          <i class="zmdi zmdi-linkedin"></i>             
        </a>
      </div>
    </div>
  </div> -->