/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

/* @import "~bootstrap/dist/css/bootstrap.css" */

/** {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: auto;
}

.mat-progress-spinner svg {
  width: 30px !important;
  height: 30px !important;
}*/

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}